<!DOCTYPE html>
<html>
	<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114186704-1"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());

  		gtag('config', 'UA-114186704-1');
	</script>			
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		pip3 install mixpanel, newrelic, google analytics - 2018.02.15 5
	</body>
</html>
