<!DOCTYPE html>
<html>
	<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114186704-1"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());

  		gtag('config', 'UA-114186704-1');
	</script>			
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		pip3 install mixpanel, newrelic, google analytics - 2018.02.15 5
		pysql 2018.2.15 15
		<table>
            {% for item in data %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
            </tr>
	    	{% endfor %}
		</table>
	</body>
</html>
